user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections 768;
	# multi_accept on;
}

http {

    upstream pi-cluster-http {
        {% for item in vars.groups.cluster_node %}
        server {{ item }}:{{ cluster_http_node_port }} max_fails=2 fail_timeout=10s;
        {% endfor %}
    }

    server {
        listen {{ pi0_http_proxy_port }} default_server;

        location / {
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-For $remote_addr;
            proxy_set_header X-Real-IP $remote_addr;

            proxy_pass http://pi-cluster-http;
        }
    }

}


stream {

    upstream pi-cluster-https {
        {% for item in vars.groups.cluster_node %}
        server {{ item }}:{{ cluster_https_node_port }} max_fails=2 fail_timeout=10s;
        {% endfor %}
    }

    server {
        listen {{ pi0_https_proxy_port }};
        proxy_pass pi-cluster-https;
    }

    upstream pi-cluster-ssh {
        {% for item in vars.groups.cluster_node %}
        server {{ item }}:{{ cluster_gitea_ssh_node_port }} max_fails=2 fail_timeout=10s;
        {% endfor %}
    }

    server {
        listen {{ pi0_gitea_ssh_proxy_port }};
        proxy_pass pi-cluster-ssh;
    }
}