# {{ ansible_managed }}

{% for conf in ddclient_conf %}
{% if conf.protocol is defined %}
protocol={{ conf.protocol }}
{% endif -%}
{% if conf.use is defined %}
use={{ conf.use }}
{% endif -%}
{% if conf.server is defined %}
server={{ conf.server }}
{% endif -%}
{% if conf.ssl is defined %}
ssl={{ conf.ssl }}
{% endif -%}
{% if conf.zone is defined %}
zone={{ conf.zone }}
{% endif %}
{% if conf.login is defined %}
login={{ conf.login }}
{% endif -%}
{% if conf.password is defined %}
password={{ conf.password }}
{% endif -%}
{% if conf.zone is defined %}
zone={{ conf.zone }}
{% endif -%}
{% if conf.address is defined %}
{{ conf.address }}
{% endif %}
{% endfor %}