IPv4dev={{ pivpn_dev }}
IPv4addr={{ pivpn_addr }}
IPv4gw={{ pivpn_gw }}
dhcpReserv=0
install_user={{ pivpn_install_user }}
VPN=openvpn
pivpnNET=10.8.0.0
subnetClass=24
pivpnPROTO={{ pivpn_protocol }}
pivpnPORT={{ pivpn_port }}
pivpnDNS1={{ pivpn_dns_1 }}
pivpnDNS2={{ pivpn_dns_2 }}
pivpnHOST={{ pivpn_host }}
pivpnENCRYPT=256
pivpnSEARCHDOMAIN=
TWO_POINT_FOUR=1
USE_PREDEFINED_DH_PARAM=1
UNATTUPG=1
