---
apiVersion: v1
kind: Namespace
metadata:
  name: gitea
---
apiVersion: v1
kind: Secret
metadata:
  name: gitea-mariadb-password
  namespace: gitea
type: Opaque
data:
  password: {{ gitea_database_password | b64encode }}
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: gitea-data-pvc
  namespace: gitea
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 2Gi
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: database-pvc
  namespace: gitea
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 512Mi
    limits:
      storage: 1Gi
---
kind: Service
apiVersion: v1
metadata:
  name: gitea
  namespace: gitea
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
  selector:
    app: gitea
---
kind: Service
apiVersion: v1
metadata:
  name: mariadb-gitea
  namespace: gitea
spec:
  ports:
    - port: 3306
      targetPort: 3306
  selector:
    app: mariadb-gitea
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: mariadb-gitea
  namespace: gitea
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mariadb-gitea
  template:
    metadata:
      labels:
        app: mariadb-gitea
    spec:
      containers:
        - name: mariadb-gitea
          image: mariadb:10.5
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_DATABASE
              value: 'gitea'
            - name: MYSQL_USER
              value: 'gitea'
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: gitea-mariadb-password
                  key: password
            - name: MYSQL_RANDOM_ROOT_PASSWORD
              value: 'yes'
          volumeMounts:
            - mountPath: /var/lib/mysql/
              name: database-pv
          resources:
            limits:
              cpu: '2'
              memory: '512Mi'
            requests:
              cpu: '500m'
              memory: '256Mi'
      volumes:
        - name: database-pv
          persistentVolumeClaim:
            claimName: database-pvc
---
kind: Service
apiVersion: v1
metadata:
  name: gitea-ssh
  namespace: gitea
spec:
  type: NodePort
  ports:
    - port: 22
      targetPort: ssh
      nodePort: {{ cluster_gitea_ssh_node_port }}
  selector:
    app: gitea
---
kind: ConfigMap
metadata:
  name: gitea-init
  namespace: gitea
data:
  app.ini: |
    [repository]
    DEFAULT_BRANCH = main

    [server]
    DOMAIN = {{ gitea_domain }}
    ROOT_URL = https://{{ gitea_domain}}

    [database]
    DB_TYPE = mysql
    HOST = mariadb-gitea:3306
    NAME = gitea
    USER = gitea
    PASSWD = {{ gitea_database_password }}

    [service]
    DISABLE_REGISTRATION = true

    [security]
    INSTALL_LOCK   = true
  gitea-init.sh: |
    RETRY=0
    until [ "${RETRY}" -ge 30 ]; do
      nc -vz -w2 mariadb-gitea 3306 && break
      RETRY=$[${RETRY}+1]
    done
    if [ "${RETRY}" -ge 30 ]; then
      echo "Database not reachable after 30 attempts!"
      exit 1
    fi
    mkdir -p /data/gitea/conf && cp /tmp/app.ini /data/gitea/conf/app.ini
    chown 1000:1000 /data/gitea/conf/app.ini
    chmod 664  /data/gitea/conf/app.ini
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: gitea
  namespace: gitea
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gitea
  template:
    metadata:
      labels:
        app: gitea
    spec:
      initContainers:
        - name: gitea-init
          image: "{{ gitea_image }}"
          command: ['sh', '-c', "/tmp/gitea-init.sh"]
          volumeMounts:
            - name: gitea-data
              mountPath: /data
            - name: gitea-init
              mountPath: /tmp/app.ini
              subPath: app.ini
            - name: gitea-init
              mountPath: /tmp/gitea-init.sh
              subPath: gitea-init.sh
      containers:
        - name: gitea
          image: "{{ gitea_image }}"
          env:
            - name: USER_UID
              value: '1000'
            - name: USER_GID
              value: '1000'
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
            - name: ssh
              containerPort: 22
              protocol: TCP
          livenessProbe:
            httpGet:
              port: http
            initialDelaySeconds: 60
          readinessProbe:
            httpGet:
              port: http
            initialDelaySeconds: 10
          volumeMounts:
            - name: gitea-data
              mountPath: /data
          resources:
            limits:
              cpu: '500m'
              memory: '500Mi'
            requests:
              cpu: '250m'
              memory: '250Mi'
      volumes:
        - name: gitea-data
          persistentVolumeClaim:
            claimName: gitea-data-pvc
        - name: gitea-init
          configMap:
            name: gitea-init
            defaultMode: 0777
---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: gitea
  namespace: gitea
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: "letsencrypt-production"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      more_set_headers "Content-Security-Policy: default-src 'none'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; connect-src 'self'; img-src 'self'; style-src 'self' 'unsafe-inline'; font-src 'self' data:; manifest-src data:; base-uri 'self'; form-action 'self';";
spec:
  tls:
    - hosts:
      - {{ gitea_domain }}
      secretName: {{ gitea_domain }}-tls
  rules:
    - host: {{ gitea_domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: gitea
                port:
                  number: 80