---
apiVersion: v1
kind: Namespace
metadata:
  name: docker-registry
---
kind: Service
apiVersion: v1
metadata:
  name: docker-registry
  namespace: docker-registry
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: http
      nodePort: {{ cluster_registry_http_node_port }}
  selector:
    app: docker-registry
---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: docker-registry
  namespace: docker-registry
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: "letsencrypt-production"
    nginx.ingress.kubernetes.io/enable-modsecurity: "true"
    nginx.ingress.kubernetes.io/enable-owasp-core-rules: "true"
spec:
  tls:
    - hosts:
      - {{ registry_domain }}
      secretName: {{ registry_domain }}-tls
  rules:
    - host: {{ registry_domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: docker-registry
                port:
                  number: 80
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: docker-registry-pvc
  namespace: docker-registry
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: Secret
metadata:
  name: docker-registry-password
  namespace: docker-registry
type: Opaque
data:
  password: {{ registry_password | b64encode }}
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: docker-registry
  namespace: docker-registry
spec:
  replicas: 1
  selector:
    matchLabels:
      app: docker-registry
  template:
    metadata:
      labels:
        app: docker-registry
    spec:
      containers:
        - name: docker-registry
          image: 'thomasdegraaff/registry-pull-through:2.7.1'
#          env:
#            - name: REGISTRY_USERNAME
#              value: user
#            - name: REGISTRY_PASSWORD
#              valueFrom:
#                secretKeyRef:
#                  name: docker-registry-password
#                  key: password
          ports:
            - name: http
              containerPort: 5000
              protocol: TCP
          livenessProbe:
            httpGet:
              port: http
            initialDelaySeconds: 60
          readinessProbe:
            httpGet:
              port: http
            initialDelaySeconds: 10
          volumeMounts:
            - mountPath: /var/lib/registry
              name: docker-registry-data
          resources:
#            limits:
#              cpu: '500m'
#              memory: '500Mi'
#            requests:
#              cpu: '250m'
#              memory: '250Mi'
      volumes:
        - name: docker-registry-data
          persistentVolumeClaim:
            claimName: docker-registry-pvc
